<div class="main__container">
  <!-- MAIN TITLE STARTS HERE -->

  <div class="main__title">
    <img src="../../../assets/hello.svg" alt="" />
    <div class="main__greeting">
      <h1>Hello Walid</h1>
      <p>Welcome to your admin dashboard</p>
    </div>
  </div>

  <!-- MAIN TITLE ENDS HERE -->

  <!-- MAIN CARDS STARTS HERE -->
  <div class="main__cards">
    <div class="cards">
      <i class="fa fa-user-o fa-2x text-lightblue" aria-hidden="true"></i>
      <div class="card_inner">
        <p class="text-primary-p">Nombre des prof</p>
        <span class="font-bold text-title">30</span>
      </div>
    </div>

    <div class="cards">
      <i class="fa fa-calendar fa-2x text-red" aria-hidden="true"></i>
      <div class="card_inner">
        <p class="text-primary-p">Nombre des emplois</p>
        <span class="font-bold text-title">2</span>
      </div>
    </div>

    <div class="cards">
      <i class="fa fa-calendar fa-2x text-yellow" aria-hidden="true"></i>
      <div class="card_inner">
        <p class="text-primary-p">Nombre des locaux</p>
        <span class="font-bold text-title">30</span>
      </div>
    </div>

    <div class="cards">
      <i class="fa fa-user-o fa-2x text-green" aria-hidden="true"></i>
      <div class="card_inner">
        <p class="text-primary-p">Number Des admins</p>
        <span class="font-bold text-title">1</span>
      </div>
    </div>
  </div>
  <!-- MAIN CARDS ENDS HERE -->

  <!-- CHARTS STARTS HERE -->
  <div class="charts">
    <div class="charts__left">
      <app-salle-list></app-salle-list>
    </div>

    <div class="charts__right">
      <app-prof-list></app-prof-list>
    </div>
  </div>
  <!-- CHARTS ENDS HERE -->
</div>
