<div class="charts__left__title">
  <div>
    <h1>Les Locaux</h1>
    <p>les locaux avec ses capacité</p>
  </div>
</div>
<div id="apex1">
  <div class="contentTable">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>Capacité</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Salle 1</td>
          <td>45</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Salle 2</td>
          <td>45</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Salle 3</td>
          <td>45</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Salle 4</td>
          <td>45</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Salle 5</td>
          <td>45</td>
        </tr>
        <tr>
          <td>6</td>
          <td>Salle 6</td>
          <td>45</td>
        </tr>
        <tr>
          <td>7</td>
          <td>Salle 7</td>
          <td>45</td>
        </tr>
        <tr>
          <td>9</td>
          <td>Salle 8</td>
          <td>45</td>
        </tr>
        <tr>
          <td>9</td>
          <td>Salle 9</td>
          <td>45</td>
        </tr>
        <tr>
          <td>10</td>
          <td>Salle 10</td>
          <td>45</td>
        </tr>
        <tr>
          <td>11</td>
          <td>Salle 11</td>
          <td>45</td>
        </tr>
        <tr>
          <td>12</td>
          <td>Salle 12</td>
          <td>45</td>
        </tr>
        <tr>
          <td>13</td>
          <td>Amphi A</td>
          <td>150</td>
        </tr>
        <tr>
          <td>14</td>
          <td>Amphi B</td>
          <td>150</td>
        </tr>
        <tr>
          <td>15</td>
          <td>Salle 13</td>
          <td>45</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
